@media(min-width: 40em)
{
    *{
        font-size:36px;
    }
}

 
.container{
    background-color:aquamarine;
    min-width: 500px;
    height:fit-content;
}

.left-block{
    display:flex;
    background-color: blue;
    width: 20em;
    height:fit-content;
}

.header{
    background-color: blueviolet;
    height:fit-content;
    min-width: 500px;
    height:1em;
    display:flex;
}

.nav{
    width: 80px;
    height: 1em;
    background-color: brown;
}